/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #343C6A;
    --secondary-color: #718EBF;
    --body-color: #F5F7FA;
    --background-color: #FFFFFF;
    --text-color: #1814F3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--body-color);
}

/* Header */

header {
    height: 100px;
    padding: 20px 40px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 2px;
}

.header-container {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

h2 {
    margin-right: auto;
    padding-left: 42px;
    font-size: 28px;
    color: var(--primary-color);
}

.search-container {
    position: relative;
}

.search-input {
    all: unset;
    padding: 15px 25px;
    background-color: var(--body-color);
    border-radius: 50px;
    position: relative;
    font-size: 15px;
    text-indent: 30px;

    &::placeholder {
        color: var(--secondary-color);
    }
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    cursor: pointer;
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--body-color);
    position: relative;
    cursor: pointer;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}