/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #343C6A;
    --secondary-color: #718EBF;
    --body-color: #F5F7FA;
    --background-color: #FFFFFF;
    --text-color: #B1B1B1;
    --text-active-color: #1814F3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--body-color);
    transition: all 0.3s linear;
}

::-webkit-scrollbar {
    width: 0px;
}

input::placeholder {
    color: var(--secondary-color);
}

/* Header */

header {
    min-height: 100px;
    padding: 20px 40px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 5px;
}

.header-container {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

h2 {
    margin-right: auto;
    padding-left: 42px;
    font-size: 28px;
    color: var(--primary-color);
}


.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 18px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 2px 0;
}

.search-container {
    position: relative;
}

.search-input {
    all: unset;
    padding: 15px 25px;
    background-color: var(--body-color);
    border-radius: 50px;
    position: relative;
    font-size: 15px;
    text-indent: 30px;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    cursor: pointer;
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--body-color);
    position: relative;
    cursor: pointer;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Main */

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* Sidebar */

.sidebar {
    min-width: 250px;
    min-height: 924px;
    display: flex;
    background-color: var(--background-color);

}

.menu {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-wrap: nowrap;
}

.menu-item {
    width: 100%;
    position: relative;

    a {
        padding-left: 44px;
        text-decoration: none;
        color: var(--text-color);
    }

    img {
        margin-right: 25px;
        vertical-align: middle;
    }

    &.active a {
        color: var(--text-active-color);
    }

    &.active:before {
        content: "";
        position: absolute;
        left: 0;
        top: -15px;
        width: 6px;
        height: 60px;
        background-color: var(--text-active-color);
        border-radius: 0 10px 10px 0;
    }
}

/* Profile */

.profile-card {
    max-width: 1110px;
    width: 100%;
    min-height: 717px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 25px;
    background-color: var(--background-color);
}

.nav-menu {
    width: 100%;
    margin: 35px 45px;
    display: flex;
    list-style: none;
    gap: 75px;
}

.nav-link {
    position: relative;

    a {
        font-size: 16px;
        font-weight: 500;
        color: var(--secondary-color);
        text-decoration: none;
    }

    &.active a {
        color: var(--text-active-color);
    }

    &.active:before {
        content: "";
        position: absolute;
        width: 114px;
        height: 3px;
        top: 30px;
        left: -15px;
        background-color: var(--text-active-color);
        border-radius: 10px 10px 0 0;
    }
}

.profile-container {
    padding: 30px;
    display: flex;
    gap: 53px;
    align-items: flex-start;
}

/* Form */

fieldset {
    border: none;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 27px 25px;
    margin-bottom: 27px;
}

.form-group {
    flex: 1 2 45%;
    display: flex;
    flex-direction: column;
}

.date-select {
    position: relative;
    display: inline-block;
}

label {
    font-size: 16px;
}

input {
    outline: none;
    width: 100%;
    margin-top: 8px;
    padding: 13px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    height: 6px;
    background-image: url('./assets/icons/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

input[type="submit"] {
    min-width: 190px;
    width: 20%;
    display: block;
    margin-left: auto;
    background-color: var(--text-active-color);
    color: var(--background-color);
    font-size: 18px;
    cursor: pointer;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .header-container {
        gap: 16px;
    }

    .profile-container {
        flex-direction: column;
        flex-wrap: wrap;

    }

    .form-container {
        flex-direction: row;
    }

    .form-group {
        flex: 1 1 45%;
    }

    h2 {
        font-size: 26px;
    }
}


@media (max-width: 768px) {

    * {
        font-size: 13px;
    }

    header {
        padding: 25px;
        padding-bottom: 0;
    }

    .burger-menu {
        display: flex;
    }

    .sidebar,
    .logo,
    .icons {
        display: none;
    }

    .header-container {
        padding: 0;
        flex-wrap: wrap;
        gap: 0;
    }

    h2 {
        margin: 0 auto;
        padding-left: 0;
        font-size: 20px;
    }

    .profile-pic {
        width: 35px;
        height: 35px;
    }

    .search-container {
        order: 3;
        flex-basis: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: center;

        input {
            width: 95%;
            padding: 11px 15px;

            &::placeholder {
                font-size: 13px;
            }
        }

        img {
            width: 16px;
        }
    }

    .sidebar.active {
        display: block;
    }

    main,
    .profile-card {
        height: 100%;
        padding: 0;
        border-radius: 15px;
    }

    .profile-container {
        padding: 10px 0;
        gap: 22px;
        flex-direction: column;
        align-items: center;

        img {
            width: 175px;
        }
    }

    .profile-card {
        margin: 22px;
    }

    .nav-menu {
        width: 85%;
        margin: 23px 28px;
        gap: 39px;
    }

    .nav-link {
        a {
            font-size: 13px;
        }

        &.active:before {
            width: 80px;
            height: 2px;
            top: 24px;
            left: -5px;
            border-radius: 10px 10px 0 0;
        }
    }

    .form-container {
        width: 285px;
        flex-direction: column;
        gap: 16px;
    }

    .form-group {
        flex: 1 1 100%;

        label {
            font-size: 13px;
        }

        input {
            padding: 10px 15px;
        }

        input::placeholder {
            font-size: 12px;
            ;
        }
    }

    .arrow {
        width: 10px;
        top: 29px;
        right: 20px;
    }

    input[type="submit"] {
        width: 100%;
        margin: 0 auto;
        margin-top: -8px;
        padding: 11px;
        border-radius: 9px;
        font-size: 15px;
    }

}